home
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					<%= @username %>
				</h2>
				<p>
					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
			<div class="row">
				<table class="table table-striped">
					<% current_user.tournaments.each do |t| %>
						<tr>
							<td><%= t.name %></td>
							<td><%= t.age %></td>
							<td><%= t.sex %></td>
							<td><%= t.weapon %></td>
							<td><%= t.team ? "Team" : "Individual" %></td>
							<td><%= t.date %></td>
							<td><a class="btn btn-primary" href="#">Edit</a></td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>